# Since .env is gitignored, you can use .env.example to build a new `.env` file when you clone the repo.
# Keep this file up-to-date when you add new variables to \`.env\`.

# This file will be committed to version control, so make sure not to have any secrets in it.
# If you are cloning this repo, create a copy of this file named `.env` and populate it with your secrets.

# Env variables extracted from shared to be exposed to the client in Plasmo app
PLASMO_PUBLIC_SITE_URL="${SITE_URL}"
PLASMO_PUBLIC_SUPABASE_ANON_KEY="${SUPABASE_ANON_KEY}"
PLASMO_PUBLIC_SUPABASE_URL="${SUPABASE_URL}"

# Auth cookie name used to retrieve existing app session through Supabase
PLASMO_PUBLIC_AUTH_COOKIE_NAME="sb-127-auth-token"