<div class="margin-top-n-bottom margin-lr">
    <div class="margin-top margin-lr">
      <p class="cool-title rel-pos">
        Ready to live in the&nbsp;<em class="bold anim-text">moment</em
        >?
      </p>
      {% block login %}{% endblock %} 
      <p class="cool-description rel-pos">
        Gup is your passport to
        <em class="bold anim-text-alt-color">authentic experiences!</em
        >&nbsp;The last thing we need in this world is more
        <em class="bold anim-text-alt-color">platforms</em> that thrives
        off our emotional
        <em class="bold anim-text-alt-color">suffering</em>.
      </p>
    </div>
  </div>